body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.heading {
    color: #FFFFFF;
    text-align: center;
}

.donate-button {
    text-decoration: none;
    background: #FF5959;
    padding: 8px 12px;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 5px;
}

.top-section {
    background-image: url(assets/images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .heading {
    left: 50%;
    top: 50%;
} */
.donate-today h1 {
    font-weight: solid bold;
}

.donate-today {
    padding-top: 100px;
    text-align: center;
}

.flexible-container {
    display: flex;
    justify-content: center;
}

.donate-amount {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: lightgray;
    display: flex;
    justify-content: center;

}

#w {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

#x {
    border: 2px solid #FF5959;
    color: #FF5959;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

#u {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

#y {
    border: none;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

#z {
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

.other-amount {
    border-bottom: #FF5959;
    padding-top: 40px;
    padding-bottom: 20px;

}

input[type=text] {
    text-align: center;
    width: 30%;
    padding: 10px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid lightgray;
}

#our-plan {
    font-weight: solid bold;
    text-align: center;
    padding-top: 150px;
}

.donate-plan {
    padding-top: 50px;
    text-align: left;
    border: none;
    box-shadow: 5px 5px 10px gray;
    width: 40%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 20px;
    border-radius: 10px;
    justify-content: center;
}

.mergin-container {
    margin: auto;
    width: 80%;
}

#food {
    background-color: lightcyan;
    border: none;

}

#shelter {
    background-color: lightyellow;
    border: none;
}

#education {
    background-color: lemonchiffon;
    border: none;
}

.contribute {
    margin: auto;
    margin-top: 150px;
    width: 80%;

}

.half-width {
    padding-left: 2%;
    width: 80%;

}

.half-width img {
    border-radius: 10px;
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;

}

.get-updates {
    margin: auto;
    width: 60%;
    padding: 50px;
    background-color: rgb(193, 193, 204);

}

input[type=email] {
    width: 40%;
    padding: 12.3px 11px 10.1px 11px;
    border: none;
    background-color: rgb(236, 240, 241);
    box-sizing: border-box;
    display: inline-block;

}

.subscribe-button {
    background-color: #487c4a;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: -4px;
}

footer {

    /* top: 0%;
    margin-bottom: 0%;
    left: 0%;
    right: 0%;
    text-align: center;
    background-color: black;
    color: #FF5959; */
    /* position: absolute; */
    /* left: 0%;
    right: 0%;
    top: 95.52%;
    bottom: 0%; */

    /* Default / Black */

    background: #0B0D17;
}