body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.heading {
    color: #FFFFFF;
    text-align: center;
}

.donate-button {
    text-decoration: none;
    background: #FF5959;
    padding: 8px 12px;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 5px;
}

.top-section {
    background-image: url(assets/images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .heading {
    left: 50%;
    top: 50%;
} */
.donate-today h1 {
    font-weight: solid bold;
}

.donate-today {
    padding-top: 100px;
    text-align: center;
}

.flexible-container {
    display: flex;
    justify-content: center;
}

.donate-amount {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: lightgray;
    display: flex;
    justify-content: center;

}

#w {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

#x {
    border: 2px solid #FF5959;
    color: #FF5959;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

#u {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

#y {
    border: none;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}


#z {
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}



/* .top-image {
    width: 100%;
}



.heading h1,
p {
    color: #FFFFFF;
}


.donate {
    color: black;
} */